@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="p-5 mb-4 rounded-3 hero-section text-white bg-primary">
    <div class="container py-5">
        <h1 class="display-4 fw-bold">Welcome Back to Orpheus</h1>
        <p class="lead">Use your account to explore our music universe.</p>
    </div>
</div>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="loginForm" method="post">
                <h2 class="mb-4">Log In</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" placeholder="Password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label" asp-for="Input.RememberMe">
                        Remember me
                    </label>
                </div>

                <button id="login-submit" type="submit" class="btn btn-warning w-100 btn-lg fw-bold">Log in</button>

                <div class="mt-4">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
